:root{
    --color-primary:#294361;
    --color-secondary:#505C81;
    --color-accent:#6184AC;
    --color-third:#B7D0D7;
    --color-white:#fff;
    --color-black:#000;
    --big-heading:4vw;
    --small-heading:3vw;
}